<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="shortcut icon" href="{{ asset('image/favicon.png') }}" type="image/x-icon">
        <link rel="icon" href="">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header>
            <div class="example-wrapper">
                <h1><img src="{{ asset('image/logo-512.png') }}" alt="" class="logobucket">Bucket-List</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('main_home') }}">Home</a>
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('wish_wish') }}">All wishes</a>
                                <a href="{{ path('main_about_us') }}">About us</a>
                                <a href="{{ path('wish_ajouter') }}">Ajout d'idée</a>
                                {% block list %}{% endblock %}
                            {% endif %}

                            {% if not is_granted('ROLE_USER') %}
                                <a href="{{ path('app_register') }}">Register</a>
                            {% endif %}

                            {% if not app.user %}
                                <a href="{{ path('app_login') }}">Connexion</a>
                            {% endif %}
                        </li>
                        {% if app.user %}
                            <li class="connexionDeco">{{ app.user.pseudo }}</li>
                            <li class="connexionDeco"><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="example-wrapper" id="divfooter">
                <div><p>&copy Bucket-list {{ 'now' | date('Y') }}</p></div>

            </div>
        </footer>
    </body>

</html>
